.footer_part{
    background-color: rgb(239, 231, 231);
}
.Footerimage h1 {
    font-size: 25px;
    color: rgb(34, 175, 114);
    margin-bottom: 20px;
}
.location h2 {
    font-size: 25px;
    color: rgb(34, 175, 114);
    margin-bottom: 20px;
}
